@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400 ;
  font-style: normal;
}


header{
  margin: 20px 140px;
  
}
/* nav style  */
nav{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav-img{
  display: flex;
  gap: 11px;
}
.nav-img img{
  height: 62px;
  margin-top: 20px;
}
.nav-title{
  font-size: 2rem;
  font-weight: bold;
}
nav ul li{
  list-style: none;
  margin-right: 32px;
}
nav ul{
  display: flex;
  font-size: 1.25rem;
  font-weight: 600;
  
}
.btn-primary{
  background-color: orange;
  font-weight: 500;
  font-size: 1.25rem;
  color: white;
  padding: 10px 60px;
  border-radius: 12px;
  border: none;
}
.nav-icon{
  display: none;
}


/* banner style  */
.banner{
  display: flex;
 
}
.banner-title{
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 24px;
}
.banner-text{
  font-size: 1.25rem;
}
.banner-content{
  margin: 50px 0;
  margin-right: 30px;
  /* width: 640px; */
}
.enroll-btn{
  background-color: black;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  padding: 10px 46px;
  border: none;
}
.banner-img img{
  width: 100%;

}

/* main part1 style  */

main{
  margin: 20px 140px;
}
.part1{
  background-image: url(assets/bg.png);
}
.part1-title{
  font-size: 2.75rem;
  font-weight: bold;
  text-align: center;
  margin: 60px auto;
}
.card-1{
  border: 1px solid rgba(222, 245, 255, 1);
  border-radius: 18px;
  height: 476px;
  width: 100%;
  background: linear-gradient(#DEF5FF, #FFFFFF);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}
.card-2{
  border: 1px solid rgba(255, 244, 220, 1);
  border-radius: 18px;
  height: 476px;
  width: 100%;
  background: linear-gradient(#FFF4DC, #FFFFFF);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.card-3{
  border: 1px solid rgba(242, 232, 255, 1);
  border-radius: 18px;
  height: 476px;
  width: 100%;
  background: linear-gradient(#EEE1FF, #FFFFFF);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.card-title{
  font-size: 1.50rem;
  font-weight: bold;
}
.card-text{
  font-size: 1rem;
  font-weight: 500;
  color: rgba(128, 128, 128, 1);
  padding: 0 40px;
}
.part1-card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  
  
}
/* .btn-arrow{
  border-radius: 50%;
  background-color: orange;
  font-weight: 500;
  font-size: 1.25rem;
  color: white;
  padding: 10px 60px;
 
  border: none;
} */










@media screen and (max-width:576px){
 .nav-title{
  display: none;
 }
 .nav-icon{
  display: block;
 }
  nav ul, .btn-primary{
  display: none;
 }
 nav{
  display: flex;
  justify-content: space-between;
  border: 1px solid orange;
 
 }

 
 .banner{
  flex-direction: column-reverse;
  
 }
 .banner-content{
  margin-right: 20px;
  margin: 0 auto;
  text-align: center;
 }
 header{
  margin: 0;
 }
 .part1-card-container{
  
  grid-template-columns:repeat(1, 1fr);
  width: 357px;
  /* height: 345px; */
  justify-items: center;
  
 }
 .part1-title{
  font-size: 1.50rem;
  text-align: center;
  
 }

  

}
